.store-about {
  width: 800px;
  height: auto;
  display: flex;
  flex-wrap: wrap;

  // > div.managed-by {
  //   width: 100%;
  //   height: auto;
  //   display: flex;
  //   flex-wrap: wrap;
  //   align-items: center;
  //   margin-top: 20px;
  //   margin-bottom: 15px;

  //   > span:nth-child(1) {
  //     width: 100%;
  //     font-weight: 500;
  //     font-size: larger;
  //   }

  //   > span:nth-child(2) {
  //     height: auto;
  //     display: inline-block;
  //     overflow: hidden;
  //     font-size: large;
  //   }
  // }

  > div.managed-by {
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    > span:nth-child(1) {
      width: 100%;
      font-weight: 500;
      font-size: larger;
    }

    > div {
      width: 100%;
      height: 100px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;

      > img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 30px;
        border: 0.5px solid rgba($color: gray, $alpha: 0.4);
      }
      > span {
        font-weight: 500;
        font-size: x-large;
        height: auto;
        display: inline-block;
        overflow: hidden;
      }
    }
  }

  > div.joined-date {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 15px;

    > span:nth-child(1) {
      width: 100%;
      font-weight: 500;
      font-size: larger;
    }

    > span:nth-child(2) {
      height: auto;
      display: inline-block;
      overflow: hidden;
      font-size: large;
    }
  }

  > div.contact-info {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    > span:nth-child(1) {
      width: 100%;
      font-weight: 500;
      font-size: larger;
    }

    > div {
      width: 100%;
      height: 80px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      > div {
        margin-top: 5px;
        width: 100%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        > img {
          width: 30px;
          height: 30px;
          background-size: cover;
          background-position: center;
          object-fit: cover;
          background-color: transparent;
          margin-right: 20px;
        }

        > span {
          height: auto;
          display: inline-block;
          overflow: hidden;
          font-size: large;
        }
      }
    }

    > span:nth-child(2) {
      height: auto;
      display: inline-block;
      overflow: hidden;
      font-size: large;
    }
  }

  > div.about {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    > span:nth-child(1) {
      width: 100%;
      font-weight: 500;
      font-size: larger;
    }

    > span:nth-child(2) {
      height: auto;
      display: inline-block;
      overflow: hidden;
      font-size: large;
    }
  }

  > div.policy {
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    > span:nth-child(1) {
      width: 100%;
      font-weight: 500;
      font-size: larger;
    }

    > span:nth-child(2) {
      height: auto;
      display: inline-block;
      overflow: hidden;
      font-size: large;
    }
  }

  > div.google-maps {
    margin-top: 30px;
    position: relative;
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;

    > span:nth-child(1) {
      font-weight: 500;
      font-size: larger;
      margin-bottom: 20px;
    }

    > div {
      width: 800px;
      height: 800px;
      display: flex;
      flex-direction: column;
    }
  }
}
